
.share-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}

.share-item__label-wrap {

}
.share-item__label {
    font-size: 17px;
}
.share-item__sub-label {
    font-size: 14px;
    color: #777;
    margin-top: 6px;
}

.share-item__copy-icon svg {
    color: #999;
    cursor: pointer;
    width: 24px;
}

.share-item__copy-icon:hover svg {
    color: #1798c1;
}